<button class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg">Register</button>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<h1>Register using your contact number</h1>
						<div class="input-group">
							<span class="input-group-addon">+63</span>
							<input type="text" class="form-control" placeholder="9 229 2121 21">
						</div>
						<br/>
						<div class="btn btn-primary" style="float:right">Register</div>	
						<div class="clearfix"></div>
					</div>
					<div class="col-md-6">
						<h1>Already a member?</h1>
						<h4>Register using your credibl account</h4>
						<form ng-submit="">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Mobile number or email.. eg. 0922xxx">
							</div>
							<br>
							<div class="input-group">
								<input type="password" class="form-control" placeholder="Password">
							</div>
						<br/>
						<div class="btn btn-primary" style="float:right">Login</div>	
						<div class="clearfix"></div>
						</form>
					</div>	
				</div>
			</div>
			
		</div>
	</div>
</div>