<button class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg">Register</button>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      	<div class="row">
      		<div class="col-md-6">
      			<form ng-submit="event">
      				<div class="input-group">
      					<input type="text" class="form-control" placehodler="">
      				</div>
      				<button type="submit">Register Mobile</button>
      			</form>
      		</div>
      	</div>
    </div>
  </div>
</div>